
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US">
    <head>
  <link rel="image_src" href="http://kungfudenver.com/wp-content/uploads/2012/10/MTBlossom_button.png" / >
  <meta name="description" content="We specialize in real martial arts for adults.  There are no belts, competitions or tests.  We train traditional Ving Tsun Kung Fu, an art ideal for self defense. ">

        <meta charset="UTF-8" />
        <title> 
            Denver Kung Fu | Martial Arts in Denver        </title>
                                                            <link rel="profile" href="http://gmpg.org/xfn/11" />
        <link rel="pingback" href="http://kungfudenver.com/xmlrpc.php" />
        <link rel="stylesheet" type="text/css" media="all" href="http://kungfudenver.com/wp-content/themes/andrina-lite/style.css" />       
        <link rel="alternate" type="application/rss+xml" title="Denver Kung Fu &raquo; Feed" href="http://kungfudenver.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Denver Kung Fu &raquo; Comments Feed" href="http://kungfudenver.com/comments/feed/" />
<script type='text/javascript' src='http://kungfudenver.com/wp-includes/js/jquery/jquery.js?ver=1.7.2'></script>
<script type='text/javascript' src='http://kungfudenver.com/wp-content/themes/andrina-lite/js/ddsmoothmenu.js?ver=3.4.2'></script>
<script type='text/javascript' src='http://kungfudenver.com/wp-content/themes/andrina-lite/js/jquery.validate.min.js?ver=3.4.2'></script>
<script type='text/javascript' src='http://kungfudenver.com/wp-content/themes/andrina-lite/js/custom.js?ver=3.4.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://kungfudenver.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://kungfudenver.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.4.2" />
<link rel="shortcut icon" href="http://kungfudenver.com/wp-content/uploads/2013/09/favicon1.ico"/>
    <!--[if gte IE 9]>
          <script type="text/javascript">
          Cufon.set('engine', 'canvas');
          </script>
          <![endif]-->
      <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
      
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34787264-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></head>
    <body class="home blog" style=" background: fixed url(http://kungfudenver.com/wp-content/themes/andrina-lite/images/bg.jpg); " >
        <div class="main-container">
            <div class="container_24">
                <div class="grid_24">                    
                    <div class="clear"></div>
                    <div class="main-content">
                        <div class="social-links">                        
                        </div>
                        <div class="header">
                            <div class="grid_8 alpha">
                                <div class="logo"> <a href="http://kungfudenver.com"><img src="http://kungfudenver.com/wp-content/uploads/2013/09/MTVTbanner.png" alt="Denver Kung Fu" /></a></div>
                            </div>
                            <div class="grid_16 omega">
                                <!--Start Menu wrapper-->
                                <div class="menu_wrapper">
                                        <div id="menu">
        <ul class="ddsmoothmenu">
    <li class="current_page_item"><a href="http://kungfudenver.com/">Home</a></li><li class="page_item page-item-5"><a href="http://kungfudenver.com/self-defense-denver/">About</a></li>
<li class="page_item page-item-61"><a href="http://kungfudenver.com/real-martial-arts/">Testimonials</a></li>
<li class="page_item page-item-10"><a href="http://kungfudenver.com/womens-self-defense/">Women’s Program</a></li>
<li class="page_item page-item-12"><a href="http://kungfudenver.com/martial-arts-classes/">Schedule</a></li>
<li class="page_item page-item-15"><a href="http://kungfudenver.com/moy-tung-clan/">Links</a>
<ul class='children'>
  <li class="page_item page-item-147"><a href="http://kungfudenver.com/moy-tung-clan/denic/">DenIC</a></li>
</ul>
</li>
        </ul>
    </div>
                                    </div>
                                <!--End Menu-->
                            </div>
                        </div>
                        <div class="clear"></div><div class="slider-wrapper">
    <div id="container">
        <div id="example">
            <div id="slides">
                <div class="slides_container">
                    <!--Start Slider 1-->                    
                    <div class="slide">                         
                                                
                            <a href="" >
                                <img src="http://kungfudenver.com/wp-content/uploads/2012/09/homepageimage.png"  alt="Slide 1"/>
                            </a>
                                               
                        <div class="caption">                            
                                                         
                                <h2>Real Martial Arts for Adults.  </h2>
                                                        
                                                          
                                <p> Ready to train some <strong>martial arts</strong>?  There are no belts, competitions or tests.  Just real training and the health, fitness, and martial capabilities that come with studying the worlds most efficient fighting art.  We train traditional Ving Tsun Kung Fu, an art ideal for <strong>self defense</strong>. 
</p>
                                                        
                        </div>
                    </div>                     
                    <!--End Slider 1-->                   
                </div>
            </div>
            <img src="http://kungfudenver.com/wp-content/themes/andrina-lite/images/slider-frame2.png" alt="Example Frame" id="frame">
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="full-content">
    <div class="feature-content">
                    <h1>Ready to start training?  Let's get to work.  Call (877)215-5464 today.</h1>
                
        <div class="feature-item">
                            <a href="http://kungfudenver.com/self-defense-denver/"><img src="http://kungfudenver.com/wp-content/uploads/2012/09/donchisao1.png"/></a>
                        
                            <a href="http://kungfudenver.com/self-defense-denver/"><h4>How to start</h4></a>
                        
                            <p>Just call us to set up your private intro lesson.  There are a finite number of intro times per week, so set your appointment as soon as you can. </p>
                        
        </div>
        <div class="feature-item">
                            <a href="http://kungfudenver.com/womens-self-defense/"><img src="http://kungfudenver.com/wp-content/uploads/2012/09/womens1.png"/></a>
                        
                            <a href="http://kungfudenver.com/womens-self-defense/"><h4>Women’s Program</h4></a>
                        
                            <p>Is Ving Tsun a good martial art for women?  As a matter of fact, it was invented by a woman.  We offer an Exclusive Women's Program.</p>
                        
        </div>
        <div class="feature-item">
                            <a href="http://kungfudenver.com/real-martial-arts/"><img src="http://kungfudenver.com/wp-content/uploads/2012/09/training1.png"/></a>
                        
                            <a href="http://kungfudenver.com/real-martial-arts/"><h4>Testimonials</h4></a>
                        
                            <p>The only way to know whether Denver Kung Fu is a good fit for you is to come in.  In the mean time, here is what a few people think about it.  </p>
                        
        </div>
        <div class="feature-item">
                            <a href="http://kungfudenver.com/moy-yat"><img src="http://kungfudenver.com/wp-content/uploads/2012/09/Jong1.png"/></a>
                        
                            <a href="http://kungfudenver.com/moy-yat"><h4>Our History</h4></a>
                        
                            <p>For those of you interested in our lineage, this section gets a bit into the history of the Kung Fu.  </p>
                        
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom-feature">
        <div class="bottom-feature-left">
                            <h1>News About Denver Kung Fu</h1>
             
                                            <div class="bottom-feature-left-inner-wrapper">
                        <a href="http://kungfudenver.com/out-front-colorado-article/"><a href='http://kungfudenver.com/out-front-colorado-article/'><img src='http://outfrontonline.com/wp-content/uploads/2013/04/logo.png' width='185' height='165' class='postimg wp-post-image' alt='' /></a></a>
                        <div class="bottom-feature-left-inner">
                            <h3><a href="http://kungfudenver.com/out-front-colorado-article/" rel="bookmark" title="Permanent Link to Out Front Colorado Article">Out Front Colorado Article</a></h3>
                            
Denver Kung Fu studio helps women find balance, strength
By Noelle Leavitt Riley
To view the full article, click here.
                            <a href="http://kungfudenver.com/out-front-colorado-article/" class="index-read"></a> 
                        </div>
                    </div>
                                    <div class="bottom-feature-left-inner-wrapper">
                        <a href="http://kungfudenver.com/how-to-choose-a-martial-arts-school/"><a href='http://kungfudenver.com/how-to-choose-a-martial-arts-school/'><img src='http://kungfudenver.com/wp-content/uploads/2012/10/run.png' width='185' height='165' class='postimg wp-post-image' alt='' /></a></a>
                        <div class="bottom-feature-left-inner">
                            <h3><a href="http://kungfudenver.com/how-to-choose-a-martial-arts-school/" rel="bookmark" title="Permanent Link to How to Choose a Martial Arts School">How to Choose a Martial Arts School</a></h3>
                            <p>1. What is your training goal?  Some common goals when choosing a martial art include effective self-defense, physical fitness, being able to do well at tournaments, and personal growth. [&hellip;]</p>
                            <a href="http://kungfudenver.com/how-to-choose-a-martial-arts-school/" class="index-read"></a> 
                        </div>
                    </div>
                        </div>
        <div class="bottom-feature-right">
                            <h1>Martial Arts Training</h1>
                        
            <div class="bottom-feature-right-wrapper">
                                    <iframe width="280" height="210" src="http://www.youtube.com/embed/auLgYx76Pdo" frameborder="0" allowfullscreen></iframe>
<table cellspacing="0" cellpadding="0" border="0" width="280" height="20"><tbody><tr><td style="text-align: center;"><a href="http://www.facebook.com/pages/Denver-Kung-Fu/182680028413555" target="_blank" title="Connect with us on facebook"><img width="20" height="20" src="http://farm6.static.flickr.com/5170/5241833392_62561a4206_m.jpg" alt="facebook" /></a></td>

<td style="text-align: center;"><title="Google +"><!-- Place this tag in the <head> of your document-->
<link href="https://plus.google.com/117800097181292130905" rel="publisher" />

<!-- Place this tag where you want the badge to render-->
<a href="https://plus.google.com/117800097181292130905?prsrc=3" target="_blank" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-64.png" width="20" height="20" style="border: 0;"/></a></td>

<td style="text-align: center;"><a href="https://twitter.com/DenverKungFu" target="_blank" title="Once in a while we might put something on twitter"><img width="20" height="20" src="http://farm6.staticflickr.com/5244/5241237979_3ee27b2553_t.jpg" alt="twitter" /></a></td>

<td style="text-align: center;"><a href="http://www.yelp.com/biz/denver-kung-fu-denver" target="_blank" title="View our ratings on yelp"><img width="20" height="20" src="http://farm6.static.flickr.com/5249/5241237925_2385a05a2c_m.jpg" alt="yelp" /></a></td>

<td style="text-align: center;"><a href="http://www.flickr.com/photos/kungfudenver/sets/72157622465247192/" target="_blank" title="Find our photos on flickr"><img width="20" height="20" src="http://farm6.static.flickr.com/5164/5241833408_64027dc230_m.jpg" alt="flickr" /></a></td>

<td style="text-align: center;"><a href="http://www.youtube.com/user/moytungdenver" target="_blank" title="Watch our videos on youtube"><img width="20" height="20" src="http://farm6.static.flickr.com/5043/5241237953_b862b4b4e4_s.jpg" alt="youtube" /></a></td>
</tr></tbody></table>
<iframe width="280" height="160" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Denver+Ving+Tsun+Kung+Fu,+852+Broadway+%23250,+Denver,+CO&amp;aq=0&amp;oq=Denver+K&amp;sll=39.764339,-104.855111&amp;sspn=0.259155,0.617294&amp;ie=UTF8&amp;hq=denver+ving+tsun+kung+fu+852&amp;hnear=250+Broadway,+Denver,+Colorado+80203&amp;t=m&amp;ll=39.730326,-104.987613&amp;spn=0.021936,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Denver+Ving+Tsun+Kung+Fu,+852+Broadway+%23250,+Denver,+CO&amp;aq=0&amp;oq=Denver+K&amp;sll=39.764339,-104.855111&amp;sspn=0.259155,0.617294&amp;ie=UTF8&amp;hq=denver+ving+tsun+kung+fu+852&amp;hnear=250+Broadway,+Denver,+Colorado+80203&amp;t=m&amp;ll=39.730326,-104.987613&amp;spn=0.021936,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>                
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="index-info">
    <div class="grid_6 alpha">
        <div class="index-info-one">            
                            <span>(877)215-5464</span>
                                   
        </div>
    </div>
    <div class="grid_7">
        <div class="index-info-two">
                            <span>kungfudenver@yahoo.com</span>
                           
        </div>
    </div>
    <div class="grid_11 omega">
        <div class="index-info-three">
                            <span>852 Broadway STE 250 Denver, CO 80203</span> 
                        
        </div>
    </div>
</div>


</div>
<!--End Index-->
<div class="clear"></div>
<!--Start Footer-->
<div class="footer">
    <div class="grid_6 alpha">
    <div class="widget_inner">
            </div>
</div>
<div class="grid_7">
    <div class="widget_inner">
            </div>
</div>
<div class="grid_11 omega">
    <div class="widget_inner last">
            </div>
</div>
<div class="clear"></div></div>
<!--End Footer-->
<div class="clear"></div>
<!--Start Footer bottom-->
<!--Start footer bottom inner-->
<div class="bottom-footer">
    <div class="grid_24">
        <div class="footer_bottom_inner"> 
                            <span class="copyright">© 2013 Denver Kung Fu.   <a href="http://www.inkthemes.com">Andrina WordPress Theme by InkThemes.com</a></span>
                    </div>
    </div>
</div>
<!--End Footer bottom inner-->
<!--End Footer bottom-->
</div>
</div>
</div>
<script type='text/javascript'><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34787264-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</script><script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201344'></script>
</body>
</html>
