<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US">
    <head>
        <link rel="image_src" href="http://kungfudenver.com/wp-content/uploads/2012/10/MTBlossom_button.png">
        <meta name="description" content="We specialize in real martial arts for adults. There are no belts, competitions or tests. We train traditional Ving Tsun Kung Fu, an art ideal for self defense.">
        <meta charset="UTF-8">
        <title>
            About | Denver Kung Fu
        </title>
        <link rel="stylesheet" type="text/css" media="all" href="http://kungfudenver.com/wp-content/themes/andrina-lite/style.css">
        <script src='http://kungfudenver.com/wp-includes/js/comment-reply.js?ver=3.4.2'></script>
        <script src='http://kungfudenver.com/wp-includes/js/jquery/jquery.js?ver=1.7.2'></script>
        <script src='http://kungfudenver.com/wp-content/themes/andrina-lite/js/ddsmoothmenu.js?ver=3.4.2'></script>
        <script src='http://kungfudenver.com/wp-content/themes/andrina-lite/js/jquery.validate.min.js?ver=3.4.2'></script>
        <script src='http://kungfudenver.com/wp-content/themes/andrina-lite/js/custom.js?ver=3.4.2'></script>
        <link rel="shortcut icon" href="http://kungfudenver.com/wp-content/uploads/2013/09/favicon1.ico"><!--[if gte IE 9]>
          <script type="text/javascript">
          Cufon.set('engine', 'canvas');
          </script>
          <![endif]-->
        <style type="text/css">
          .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
        </style>
    </head>
    <body class="page page-id-5 page-template-default" style=" background: fixed url(http://kungfudenver.com/wp-content/themes/andrina-lite/images/bg.jpg);">
        <div class="main-container">
            <div class="container_24">
                <div class="grid_24">
                    <div class="clear"></div>
                    <div class="main-content">
                        <div class="social-links"></div>
                        <div class="header">
                            <div class="grid_8 alpha">
                                <div class="logo">
                                    <a href="http://kungfudenver.com"><img src="http://kungfudenver.com/wp-content/uploads/2013/09/MTVTbanner.png" alt="Denver Kung Fu"></a>
                                </div>
                            </div>
                            <div class="grid_16 omega">
                                <!--Start Menu wrapper-->
                                <div class="menu_wrapper">
                                    <div id="menu">
                                        <ul class="ddsmoothmenu">
                                            <li>
                                                <a href="http://kungfudenver.com/">Home</a>
                                            </li>
                                            <li class="page_item page-item-5 current_page_item">
                                                <a href="http://kungfudenver.com/self-defense-denver/">About</a>
                                            </li>
                                            <li class="page_item page-item-61">
                                                <a href="http://kungfudenver.com/real-martial-arts/">Testimonials</a>
                                            </li>
                                            <li class="page_item page-item-10">
                                                <a href="http://kungfudenver.com/womens-self-defense/">Women’s Program</a>
                                            </li>
                                            <li class="page_item page-item-12">
                                                <a href="http://kungfudenver.com/martial-arts-classes/">Schedule</a>
                                            </li>
                                            <li class="page_item page-item-15">
                                                <a href="http://kungfudenver.com/moy-tung-clan/">Links</a>
                                                <ul class='children'>
                                                    <li class="page_item page-item-147">
                                                        <a href="http://kungfudenver.com/moy-tung-clan/denic/">DenIC</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--End Menu-->
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                        <div class="page-content">

                            <%= yield %>
                            <%= erb :sidebar %>

                        </div>
                    </div>
                    <div class="clear"></div><!--Start Footer-->
                    <div class="footer">
                        <div class="grid_6 alpha">
                            <div class="widget_inner"></div>
                        </div>
                        <div class="grid_7">
                            <div class="widget_inner"></div>
                        </div>
                        <div class="grid_11 omega">
                            <div class="widget_inner last"></div>
                        </div>
                        <div class="clear"></div>
                    </div><!--End Footer-->
                    <div class="clear"></div><!--Start Footer bottom-->
                    <!--Start footer bottom inner-->
                    <div class="bottom-footer">
                        <div class="grid_24">
                            <div class="footer_bottom_inner">
                                <span class="copyright">© 2013 Denver Kung Fu. <a href="http://www.inkthemes.com">Andrina WordPress Theme by InkThemes.com</a></span>
                            </div>
                        </div>
                    </div><!--End Footer bottom inner-->
                    <!--End Footer bottom-->
                </div>
            </div>
        </div>
    </body>
</html>
