<!-- block -->
<div class="block">
  <div class="navbar navbar-inner block-header">
    <div class="muted pull-left">New Page</div>
  </div>
  <div class="block-content collapse in">
    <div class="span12">
      <%= erb :page_form, :locals => { :page => page } %>
    </div>
  </div>
</div>
<!-- /block -->
