<h1>Create a page at your own risk.</h1>
<form action= '/page', method= 'POST'>
  <input id= 'title', type= 'text', name= 'page[title]', placeholder= 'page title' >
  <textarea id= 'body', name= 'page[body]', placeholder= 'page description'></textarea>
  <input type= 'submit', value= 'Publish'>
</form>
