<h1 class="page_title">
  <%= page.title %>
</h1>
<div class="grid_16 alpha">
    <div class="content-bar">
        <p>
            <img class="alignright" src="http://farm6.staticflickr.com/5142/5787089450_f42a49b1dd_n.jpg" alt="" width="191" height="320">
        </p>
        <h3>
            <strong>Geting Started<br></strong>
        </h3>
        <p>
            Ving Tsun is best known for its efficiency and effectiveness. Its primary principles are center line, relaxation, and efficiency. Because of the way in which these concepts are explored, the possibility of joint and other types of training injuries are minimized while the fitness and fighting competence of the practitioner grows with surprising speed. For information on our lineage, please click <a href="http://kungfudenver.com/moy-yat/">here</a>.
        </p>
        <p>
            Introductory classes are held by appointment. The cost is $50 and comes with shoes and a uniform t-shirt. These classes are semi-private, allowing new students the opportunity to work one-on-one with an instructor. New students are introduced to the basic forms and drills of Ving Tsun, and will have the opportunity to ask specific questions and receive personal consultation. The new practitioner will also have the opportunity to attend the Wednesday open training session for free, to evaluate a regular class.
        </p>
        <h3>
            <strong>Forms</strong>
        </h3>
        <p>
            There are three forms that a new Ving Tsun practitioner will study: <strong>Siu Nim Tao</strong> is the first form taught to students, and contains the system’s basic vocabulary. Its name means “little idea”. <strong>Chum Kiu</strong> introduces shifting, and footwork. It means “seeking the bridge”. The third form is called <strong>Biu Ge.<br></strong><br>
            <img class="alignleft" src="http://farm7.staticflickr.com/6205/6098399703_886cd5a635_n.jpg" alt="" width="240" height="320">
        </p>
        <h3>
            <strong>Two Person Drills</strong>
        </h3>
        <p>
            There are a number of two person drills that practitioners will work with. Eventually, all of the techniques and ideas explored in these drills will be brought together in an exercise called <strong>Chi Sao.</strong> <strong>Pak Sao</strong> is a punching and blocking exercise, <strong>Pak Dar</strong> is another chain punching drill that utilizes simultaneous application of both hands. <strong>Lop Sao</strong> uses techniques from the form Siu Nim Tao to catch and strike in a single motion. <strong>Don Chi Sao</strong> is a drill that works the ability to take centerline from an opponent. <strong>Luk Sao</strong> incorporates the principles from the other drills, and requires that the students roll hands and try to create openings in each others technique. <strong>Chi Sao</strong> is structured free flowing exercise.
        </p>
        <p>
            &nbsp;
        </p>
        <div class="clear"></div><!--Start Comment box-->
        <center>
            Member of the Moy Yat Family Kung Fu Association <img src="http://kungfudenver.com/wp-content/uploads/2012/10/myflower.png">
            <center>
                <!--End Comment box-->
            </center>
        </center>
    </div>
</div>

