<div class="grid_8 omega">
    <!--Start Sidebar-->
    <div class="sidebar">
        <h4>
            Recent Posts
        </h4>
        <ul>
            <li>
                <a href="http://kungfudenver.com/out-front-colorado-article/" title="Out Front Colorado Article">Out Front Colorado Article</a>
            </li>
            <li>
                <a href="http://kungfudenver.com/how-to-choose-a-martial-arts-school/" title="How to Choose a Martial Arts School">How to Choose a Martial Arts School</a>
            </li>
            <li>
                <a href="http://kungfudenver.com/first-anniversary-seminar/" title="First Anniversary Seminar">First Anniversary Seminar</a>
            </li>
            <li>
                <a href="http://kungfudenver.com/grand-opening-seminar/" title="Grand Opening Seminar">Grand Opening Seminar</a>
            </li>
            <li>
                <a href="http://kungfudenver.com/the-detroit-5th-anniversary-seminar/" title="The Detroit 5th Anniversary Seminar">The Detroit 5th Anniversary Seminar</a>
            </li>
        </ul>
        <h4>
            Recent Comments
        </h4>
        <ul id="recentcomments"></ul>
        <h4>
            Archives
        </h4>
        <ul>
            <li>
                <a href='http://kungfudenver.com/2013/04/' title='April 2013'>April 2013</a>
            </li>
            <li>
                <a href='http://kungfudenver.com/2012/09/' title='September 2012'>September 2012</a>
            </li>
            <li>
                <a href='http://kungfudenver.com/2012/02/' title='February 2012'>February 2012</a>
            </li>
        </ul>
        <h4>
            Categories
        </h4>
        <ul>
            <li class="cat-item cat-item-4">
                <a href="http://kungfudenver.com/category/annual-photo/" title="View all posts filed under Annual Photo">Annual Photo</a>
            </li>
            <li class="cat-item cat-item-3">
                <a href="http://kungfudenver.com/category/news/" title="View all posts filed under News">News</a>
            </li>
            <li class="cat-item cat-item-1">
                <a href="http://kungfudenver.com/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
            </li>
        </ul>
        <h4>
            Meta
        </h4>
        <ul>
            <li>
                <a href="http://kungfudenver.com/wp-login.php">Log in</a>
            </li>
            <li>
                <a href="http://kungfudenver.com/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a>
            </li>
            <li>
                <a href="http://kungfudenver.com/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
            </li>
            <li>
                <a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
            </li>
        </ul>
    </div><!--End Sidebar-->
</div>